<?php
  session_start();
  if(!empty($_SESSION['logged'])){
    header('location: ../../');
  }
?>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/user/login-register.css">
  <link rel="stylesheet" href="../public/css/user/register.css">
  <link rel="stylesheet" href="../public/css/global.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <title>{{title}}</title>
</head>

<body>
  {% if error %}
  <div class="notification">
    <div class="title-notific">
      <i class='bx bxs-bell-ring'></i>
      <span>Notification</span>
      <a href="" class="exit-notific"><i class='bx bx-x'></i></a>
    </div>
    <p>
      <?= $_COOKIE['error']; ?>
    </p>
  </div>
  {% endif %}
  <div class="container">
    <div class="center">
      <div class="title">
        <h1>Register</h1>
        <i class='bx bx-cube'></i>
      </div>
      <form action="/register" method="POST" enctype="multipart/form-data" autocomplete="off">
        <div class="input_content">
          <input type="email" name="email" required>
          <span></span>
          <label for="email">Email</label>
        </div>
        <div class="input_content">
          <input type="password" name="password" required>
          <span></span>
          <label for="password">Password</label>
        </div>
        <div class="input_content">
          <input type="text" name="name" required>
          <span></span>
          <label for="name">Name</label>
        </div>
        <div class="input_file">
          <input type="file" name="file" id="file" accept="image/*">
          <label for="file"><i class='bx bxs-image-add'></i><span>Foto de perfil</span></label>
          <span class="archiveName" id="archiveName"></span>
        </div>
        <button type="submit" name="btn-register">Create Account</button>
        <div class="links">
          <span>Don't have an account? <a href="login">Sign-up</a></span>
        </div>
      </form>
    </div>
  </div>
  <script src="../public/js/archiveName.js"></script>
  <script src="../public/js/notification.js"></script>
</body>

</html>