@font-face {
  font-family: 'Galano';
  src: url('../../font/Galano.otf');
}

body {
  background: var(--main-color);
  background: linear-gradient(60deg,var(--main-color) 0%, var(--main-color-focus-secundary) 52%, var(--primary-color) 100%);
}

.container {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.315);
}

.card_form {
  width: 400px;
  height: 600px;
  position: relative;
  background: var(--main-color-card);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
}

.card_form .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 40px;
}

.card_form header {
  font-size: 35px;
  font-weight: 600;
  margin: 20px 0;
  color: var(--main-color-focus);
  filter: brightness(3.5);
}

.card_form form {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  flex: 1;
}

.card_form form .page {
  width: 100%;
  flex: none;
  position: relative;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
  }

  .field {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }