@font-face {
  font-family: 'Galano';
  src: url('../../font/Galano.otf');
}

.container {
  background: linear-gradient(-45deg,rgb(16, 24, 87),rgb(0, 0, 17));
  display: flex;
  width: 100%;
  justify-content: center;
}
  
.center {
  color: white;
  padding: 20px;
  text-align: center;
}
.center h1 {
  padding: 20px;
}

form label i {
  font-size: 22px;
}

textarea {
  resize: none;
  border: none;
  border: 2px solid rgba(35, 101, 187, 0.89);
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  color: white;
  font-family: 'Galano';
  width: 100%;
}
textarea ~ label {
  display: flex;
  position: absolute;
  align-items: center;
  top: 12px;
  left: 10px;
  transition: all ease 200ms;
  font-size: 14px;
}

textarea:focus ~ label,
textarea:valid ~ label {
  top: -25px;
  color: rgb(90, 211, 161);
  font-size: 11px;
}
textarea:valid {
  border: 2px solid rgb(90, 211, 161);
}
@media (max-width: 700px) {
  textarea{
    width: 100%;
  }
}

textarea::placeholder {
  color: white;
}
form {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(1fr));
  grid-template-areas: 
              "t g"
              "y d"
              "s s"
              "ty e"
              "u u"
}

form #title {
  grid-area: t;
}
form #gender {
  grid-area: g;
}
form #year {
  grid-area: y;
}
form #duration {
  grid-area: d;
}
form #sinopse-div {
  grid-area: s;
}
form #type {
  grid-area: ty;
}
form #file-div {
  grid-area: e;
}
form button {
  grid-area: u;
  display: flex;
  justify-content: center;
}

form .input_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

form .input_content input:focus ~ #label-effect,
form .input_content input:valid ~ #label-effect{
  font-size: 10px;
  transform: translateY(-30px);
  color: rgb(90, 211, 161);
}

form .input_content input:valid {
  border: 1px solid rgb(90, 211, 161);
}

form .input_content #label-effect {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 14px;
  transform: translateY(-2px);
  transition: all ease-in-out 200ms;
  pointer-events: none;
  color: rgb(170, 170, 170);
}
form .input_content input::placeholder {
  color: white;
}

form .input_content #type {
  width: 100px;
  background-color: transparent;
  color: white;
  outline: none;
  font-family: 'Galano';
  border: 1px solid rgb(0, 102, 255);
  padding: 5px 0px;
}

form .input_content #type option {
  background-color: transparent;
  color: black;
  text-align: center;
}

form input[type="text"], form input[type="number"]{
  width: 300px;
  padding: 8px 20px;
  outline: none;
  border-radius: 3px;
  border: none;
  font-family: 'Galano', sans-serif;
  background-color: transparent;
  border: 1px solid rgb(2, 103, 255);
  color: white;
}

.btn-upload {
  outline: none;
  font-family: 'Galano';
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(0, 81, 255);
  color: white;
  transition: all ease 200ms;
  padding: 10px 70px;
  display: flex;
  align-items: center;
}
.btn-upload:hover {
  color: rgb(0, 81, 255);
  background-color: white;
}
.btn-upload i {
  font-size: 30px;
  display: block;
}

.cover {
  padding: 7px 20px 9px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cover i {
  font-size: 22px;
  transform: translateY(1px);
}
.cover:hover {
  background-color: rgba(61, 62, 135, 0.412);
}
.input_content.file {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input_content.file span{
  color: aquamarine;
}