<aside class="sidebar">
  <div class="user">
    <div class="user_img">
      <img src="public/img/users/61ff4e2a8ead7.jpeg" alt="">
    </div>
    <div class="user_info">
      <span>Welcome</span>
      <p class="user_name">Junin Boladao</p>
    </div>
  </div>
  <div class="navigation">
    <h1 class="navigation_title">Main Navigation</h1>
    <ul class="links">
      <li><a href=""><i class='bx bxs-dashboard'></i> Dashboard</a></li>
      <li><a href=""><i class='bx bxs-video'></i> Videos</a></li>
      <li><a href=""><i class='bx bxs-user-detail'></i> Users</a></li>
    </ul>
  </div>
</aside>