<aside class="sidebar">
  <div class="user">
    <div class="user_img">
      <img src="public/img/users/{{user.id}}/{{user.img_profile}}" alt="">
    </div>
    <div class="user_info">
      <span class="welcome">Welcome!</span>
      <p class="user_name">{{user.name}}</p>
      <p class="level_mode">
        {% if user.level == 2 %}
        Moderator
        {% elseif user.level == 3 %}
        Admin Level
        {% endif %}
      </p>
    </div>
  </div>
  <div class="navigation">
    <h1 class="navigation_title">Main Navigation</h1>
    <ul class="links">
      <li><a href="" class="dashboard_btn"><i class='bx bxs-dashboard'></i> Dashboard</a></li>
      <li><a href="" class="graphic_btn" id="graphic_btn"><i class='bx bx-bar-chart'></i> Graphic Features</a></li>
      <li><a href=""><i class='bx bxs-user-detail'></i> Users</a></li>
    </ul>
    <h1 class="navigation_title">Upload Navigation</h1>
    <ul class="links">
      <li><a href=""><i class='bx bxs-video-plus'></i> Video</a></li>
      <li class="dropdown_sidebar">
        <a href=""><i class='bx bxs-cloud-upload'></i> Serie</a>
        <ul>
          <li><a href="upload/season"><i class='bx bx-plus'></i> Season</a></li>
          <li><a href="upload/episode"><i class='bx bx-plus'></i> Episode</a></li>
        </ul>
      </li>
      <li><a href=""><i class='bx bxs-user-detail'></i> Category</a></li>
    </ul>
  </div>
</aside>