:root {
  --main-color: #191923;
  --main-color-focus: #21212e;
  --main-color-focus-secundary: #2c2c3d;
  --text-color: #f6f7eb;
  --primary-color: #2c92e6;
  --secundary-color: #e94f37;
}

@font-face {
  font-family: Muli;
  src: url('../font/Muli.ttf');
}
@font-face {
  font-family: Galano;
  src: url('../font/Galano.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body,html {
  width:100%;height:100%;
}

body {
  font-family: 'Muli', sans-serif;
}