@font-face {
  font-family: Muli;
  src: url('../font/Muli.ttf');
}
@font-face {
  font-family: Galano;
  src: url('../font/Galano.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,html {
  width:100%;height:100%;
}

body {
  font-family: 'Muli', sans-serif;
}