body,html {
  width: 100%;
  height: 100%;
}

.content {
  display: none;
}

.load {
  width: 100%;
  height: 100%;
  background: var(--main-color);

  display: flex;
  align-items: center;
  opacity: 1;
  transition: all ease 1s;
}

.pre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
}

.pre i {
  font-size: 120px;
  animation: load 2s alternate forwards;
  color: rgb(255, 255, 255);
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}

.exitLoad {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.openContent {
  display: block;
}