<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Css-->
  <link rel="stylesheet" href="public/css/index/navbar.css">
  <link rel="stylesheet" href="public/css/global.css">
  <link rel="stylesheet" href="public/css/index/main.css">
  <link rel="stylesheet" href="public/css/onload.css">
  <link rel="stylesheet" href="public/css/index/wrapper.css">
  <!--Dependencies-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <title>{{title}}</title>
</head>

<body onLoad="loading()">
  <div class="load">
    <div class="pre">
      <i class='bx bx-loader-circle'></i>
      <h1>Carregando...</h1>
    </div>
  </div>
  <div class="content">
    <nav class="navbar">
      <div class="logo">
        <i class='bx bx-cube'></i>
        <h1>Mega-Cine</h1>
      </div>
      <div class="nav">
        <input type="checkbox" name="checkbox" id="check">
        <label for="check">
          <i class='bx bx-menu-alt-right' id="btn"></i>
          <i class='bx bx-x' id="close"></i>
        </label>
        <div class="navbar-responsive">
          <ul class="category">
            <li><a href="#films">Filmes</a></li>
            <li><a href="#series">Séries</a></li>
            <li><a href="">Categorias</a></li>
            <li><a href="">Loja</a></li>
          </ul>
          <ul class="user">
            <div>
              <div class="search-container">
                <div>
                  <input type="checkbox" name="show-search" id="show-search">
                  <label for="show-search"><i class="fas fa-search"></i></label>
                  <input type="search" placeholder="Pesquise aqui" name="search" id="search">
                  <label for="search" id="label-search">Ex: Homem de Ferro</label>
                </div>
              </div>
            </div>
            <li class="menu">
              <div class="photo-user">
                <i class='bx bxs-user'></i>
                <img src="public/img/users/{{user['id']}}/{{user['img_profile']}}" alt="">
              </div>
              <a href="" class="btn-menu">
                {{user['name']}}<i class='bx bxs-chevron-up'></i>
              </a>
              <div class="submenu">
                <ul class="menu-options-account">
                  <li><a href="pages/upload"><i class='bx bxs-cloud-upload'></i>Upload</a></li>
                  <li><a href=""><i class='bx bxs-customize'></i>Settings</a></li>
                  <li><a href="/logout"><i class='bx bxs-exit'></i>Logout</a></li>
                  <li><a href=""><i class='bx bx-star'></i>Favorites</a></li>
                  <li><a href=""><i class='bx bxs-help-circle'></i>Help</a></li>
                  <li><a href=""><i class='bx bxs-user-detail'></i>Profile</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="main">
      <section class="apresentation">
        <div id="items-wrapper">
          <div class="btn-wrapper">
            <a href="" class="btn-wrapper-go"><i class='bx bx-last-page'></i></a>
            <a href="" class="btn-wrapper-back"><i class='bx bx-first-page'></i></a>
          </div>
          <div class="menu-wrapper">
            <a href="" class="btn-menu-wrapper"><i class='bx bx-grid-alt'></i></a>
            <li style="--i:0;"><a href=""><i class='bx bxs-download'></i></a></li>
            <li style="--i:1;"><a href=""><i class='bx bxs-star'></i></a></li>
            <li style="--i:2;"><a href=""><i class='bx bxs-rocket'></i></a></li>
            <li style="--i:3;"><a href=""><i class='bx bxs-bell-ring'></i></a></li>
            <li style="--i:4;"><a href=""><i class='bx bxs-tv'></i></a></li>
            <li style="--i:5;"><a href=""><i class='bx bx-qr'></i></a></li>
            <li style="--i:6;"><a href=""><i class='bx bx-mobile'></i></a></li>
            <li style="--i:7;"><a href=""><i class='bx bxs-group'></i></a></li>
          </div>
          <div id="items">
            <div class="item"><img src="public/img/wrapper/films1.jpg" alt=""></div>
            <div class="item"><img src="public/img/wrapper/avengers.jpg" alt=""></div>
            <div class="item"><img src="public/img/wrapper/moana.jpg" alt=""></div>
            <div class="item"><img src="public/img/wrapper/star-wars.jpg" alt=""></div>
            <div class="item"><img src="public/img/wrapper/transformers.jpg" alt=""></div>
          </div>
        </div>
      </section>

      <section class="films" id="films">
        <h1>Filmes</h1>
        <div class="list-films-series">
          {% include 'components/CardFilm.html' %}
          {% include 'components/CardFilm.html' %}
          {% include 'components/CardFilm.html' %}
          {% include 'components/CardFilm.html' %}
        </div>
      </section>

      <section class="series" id="series">
        <h1>Séries</h1>
        <div class="list-films-series">
          {% include 'components/CardSerie.html' %}
          {% include 'components/CardSerie.html' %}
          {% include 'components/CardSerie.html' %}
          {% include 'components/CardSerie.html' %}
          {% include 'components/CardSerie.html' %}
          {% include 'components/CardSerie.html' %}
        </div>
      </section>
    </main>
  </div>
  <script src="public/js/submenu.js"></script>
  <script src="public/js/menu-film.js"></script>
  <script src="public/js/loading.js"></script>
  <script src="public/js/dropdown-option.js"></script>
  <script src="public/js/wrapper/wrapper.js"></script>
  <script src="public/js/wrapper/btn-wrapper.js"></script>
  <script src="public/js/wrapper/menu-wrapper.js"></script>
</body>

</html>