body {
  font-family: 'Muli', sans-serif;
  background-image: url('../../img/background/login-register.svg  ');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: rgb(0, 0, 0);
  gap: 4rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.124);
  background-color: rgba(255, 255, 255, 0.309);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 40px;
  width: 400px;
  gap: 1.5rem;
  position: relative;
}

form .input_content{
  width: 100%;
  position: relative;
}

form .input_content input {
  padding: 5px 10px;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  font-family: 'Galano', sans-serif;
}

form .input_file input[type="file"] {
  display: none;
}

form .input_content label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  transition: all ease 200ms;
  top: 0;
  color: rgba(255, 255, 255, 0.631);
}

.input_content {
  border-bottom: 2px solid rgba(255, 255, 255, 0.207);
}
.input_content input {
  border: none;
  color: white;
}

.input_content input:focus ~ label,
.input_content input:valid ~ label {
  font-size: 10px;
  transform: translateY(-10px);
  color: rgb(0, 145, 255);
}

.input_content input ~ span {
  width: 0;
  background-color: rgb(0, 153, 255);
  height:2px;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all ease 300ms;
}

.input_content input:focus ~ span,
.input_content input:valid ~ span {
  width:100%;
}

form button {
  padding: 15px 90px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer; 
  color: rgb(255, 255, 255);
  background-color: rgb(35, 132, 235);
  border-radius: 5px;
  font-family: 'Galano', sans-serif;
  font-size: 16px;
  transition: all ease 200ms;
}

form button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(113, 57, 225);
}

.links {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 15px 0;
}

.links span {
  color: rgba(255, 255, 255, 0.693);
}

.links {
  padding-top: 50px;
}

.links a:visited {
  color: rgb(237, 230, 46);
}

.center .title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.center .title i {
  font-size: 45px;
  transform: translateY(5px);
}

.notification {
  background-color: rgba(255, 255, 255, 0.741);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  overflow: hidden;
  width: 250px;
  opacity: 1;
  pointer-events: auto;
  transition: all ease-in-out 300ms;
  animation: show-notification ease-in-out 600ms alternate forwards;
  left: -20%;
  animation-delay: 1s;
  text-align: center;
}

@keyframes show-notification {
  from {
    left: -20%;
  }
  to {
    left: 0;
  }
}

.title-notific {
  border-bottom: 2px solid rgb(172, 89, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.809);
  padding: 5px 0;
}

.title-notific i {
  font-size: 20px;
  display: block;
  transition: all ease 200ms;
}

.notification p {
  padding: 10px;
  width: 100%;
}

.exit-notific {
  text-decoration: none;
  color: black;
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
}

.exit-notific:hover {
  color: rgba(32, 132, 255, 0.796);
}

.exit-notific i {
  font-size: 28px;
}

.notification.exit {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}