.title {
  display: flex;
}

.center h1,h2{
  color: white;
}

.center i {
  font-size: 40px;
  color: rgb(0, 123, 255);
  border-bottom: 2px solid rgba(255, 255, 255, 0.638);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

form {
  color: #fff
}

.center {
  padding: 50px 0;
  gap: 4rem;
  border: 1px solid  rgba(255, 255, 255, 0.467);
}

.center form {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

@media (max-width: 550px) {
  .center {
    padding: 50px 0;
  }
  .center form {
    gap: 1rem;
    padding: 0 80px;
  }
  .input_content input ~ label {
    font-size: 13px;
  }
  .center {
    width: 300px;
  }
}