.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center {
  padding: 80px 0;
  gap: 2rem;
}

.center form {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.input_content {
  border-bottom: 2px solid rgba(0, 0, 0, 0.638);
}
.input_content input {
  border: none;
}

.input_content input:focus ~ label,
.input_content input:valid ~ label {
  font-size: 10px;
  transform: translateY(-10px);
  color: rgb(0, 110, 255);
}

.input_content input ~ span {
  width: 0;
  background-color: rgb(0, 110, 255);
  height:2px;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all ease 300ms;
}

.input_content input:focus ~ span,
.input_content input:valid ~ span {
  width:100%;
}

.links {
  padding-top: 50px;
}

@media (max-width: 550px) {
  .center {
    padding: 50px 0;
  }
  .center form {
    gap: 1rem;
    padding: 0 80px;
  }
  .input_content input ~ label {
    font-size: 13px;
  }
  .center {
    width: 300px;
  }
}