body {
  font-family: 'Muli', sans-serif;
}

.container {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,rgb(2, 2, 2),rgb(34, 34, 114));
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.919);
  gap: 4rem;
  border-radius: 10px;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.398);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 40px;
  width: 400px;
  gap: 1.5rem;
  position: relative;
}

form .input_content{
  width: 100%;
  position: relative;
}

form .input_content input {
  padding: 5px 10px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(56, 56, 56);
  background: none;
  font-family: 'Galano', sans-serif;
}

form .input_file input[type="file"] {
  display: none;
}

form .input_content label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  transition: all ease 200ms;
  top: 0;
}

form .input_content input:focus ~ label,
form .input_content input:valid ~ label{
  color: rgb(47, 154, 255);
  top: -12px;
  font-size: 13px;
}

form .input_content input:focus,
form .input_content input:valid {
  border-bottom: solid 2px rgb(47, 154, 255); 
}

form button {
  padding: 15px 70px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer; 
  color: rgb(255, 255, 255);
  background-color: rgb(35, 132, 235);
  border-radius: 5px;
  font-family: 'Galano', sans-serif;
  font-size: 16px;
  transition: all ease 200ms;
}

form button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(113, 57, 225);
}

.links {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 15px 0;
}

.links span {
  color: rgba(65, 65, 65, 0.563);
}

.center .title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.center .title i {
  font-size: 45px;
  transform: translateY(5px);
}