.navbar {
  display: flex;
  height: 80px;
  background: #2d2c46;
  color: white;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar ul a {
  text-decoration: none;
  color: white;
}

.navbar .category a, .btn-menu{
  display: block;
  transition: all ease-in-out 200ms;
}

.navbar .category a:hover, .btn-menu:hover{
  color: rgb(187, 187, 187);
}

.navbar .user {
  display: flex;
  align-items: center;
}


.search-container i {
  cursor: pointer;
  font-size: 20px;
  transform: translateY(3px);
}
.search-container i:hover {
  color: #c2c2c2;
}

#show-search {
  display: none;
}

input[type="search"]{
  transition: all ease-in-out 400ms;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  border-bottom: 2px solid #1781fa;
}

#show-search ~ input[type="search"]{
  transition: all ease-in-out 400ms;
  height: 40px;
  width: 200px;
}

#show-search:not(:checked) ~ input[type="search"]{
  display: none;
  width: 0;
}
#show-search:checked ~ input[type="search"]{
  display: inline;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container div{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}

.menu {
  width: 100%;
  position: relative;
}

.menu .btn-menu {
  display: flex;
  align-items: center;
}

.menu .btn-menu i {
  font-size: 20px;
  transform: translateY(2px);
  transition: all ease-in-out 200ms;
}

.menu .btn-menu i.rotate {
  transform: rotate(-180deg);
}

.submenu {
  position: absolute;
  background: linear-gradient(rgba(26, 29, 46, 0.926),rgb(40, 68, 162));
  display: flex;
  flex-direction: column;
  width: 200%;
  align-items: center;
  opacity: 1;
  transition: all ease-in-out 200ms;
  padding: 20px;
  gap: 2rem;
  animation: init ease-in-out 200ms alternate forwards;
  border-radius: 5px;
  white-space: nowrap;
}

.submenu.close {
  display: none;
}

@keyframes init {
  from {
    opacity: 0;
    transform: translate(-25%,-20px);
  }to {
    opacity: 1;
    transform: translate(-25%,0);
  }
}