body {
  background: var(--main-color);
}

main {
  padding: 10px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .title_main {
  color: var(--text-color);
  padding: 5px;
  background-color: var(--main-color-focus);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .title_main i{
  font-size: 40px;
}

.container_panel {
  background-color: var(--main-color-focus);
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  border-radius: 5px;
}

.dashboard {
  height: calc(100vh - 60px);
  display: flex;
  gap: 1rem;
}