<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="public/css/panel/cardInfo.css">
  <link rel="stylesheet" href="public/css/panel/navbar.css">
  <link rel="stylesheet" href="public/css/panel/sidebar.css">
  <link rel="stylesheet" href="public/css/panel/styles.css">
  <link rel="stylesheet" href="public/css/global.css">
  <title>{{title}}</title>
</head>

<body>
  <nav class="nav_panel">
    <div>
      <h1>Mega-Cine</h1>
    </div>
  </nav>
  {% include 'components/panel/dashboard/dashboard.html' %}
</body>

</html>